.container {
    display:block;
    gap: 0px; 
}


.card {
    background-color:none;
    border: 0px solid #ddd;
    border-radius: 0px; 
    padding: 7px;
    box-shadow: 0 2px 5px rgb(99, 148, 122); 
    flex: 5; 
    max-width: 400px; 

}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #474343;
    size-adjust: 50px;
}


.card p {
    color: #666;
    font-size: 1.0em;
}

img{
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 300px;
}
hr{
    color: rgb(101, 101, 101);
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(112, 111, 111);

}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(112, 111, 111);
    
}
nav{
    color:rgb(112, 111, 111);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    color: rgb(112, 111, 111);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    background-color: #9bcbb8;
    color:white;
    padding: 40px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 120px;
    margin: auto;
    padding: 20px;
}

.footer-section{
    flex-basis: 23%;
    margin-bottom: 20px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 18px;
    color: #76a594;
}

.footer-section p, .footer-section ul{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.footer-section ul{
    list-style-type: none;
}

.footer-section ul li{
    margin-bottom: 10px;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover{
    color: #7caf9b;
}

.social-links a{
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover{
    color: #2f692a;
}

.footer-bottom{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #83c1ad;
    font-size: 14px;
}

.footer-bottom p{
    margin: 0;
}
