
.gallery {
    display:flexbox;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1,5fr));
    gap: 1px;
  

}

.card {
    border: 1,5px;
    padding: 1,5px;
    display: inline-block;
    flex-direction: flex;
    justify-content: space-around;
    row-gap: 1px;
    
}

.card img {
    width: 90%;
    height: 90%;
}